// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Kanit', sans-serif;
    background-size: cover;
    background-image: url('/img/wallpaper.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    animation: animatedBackground 15s linear infinite alternate;

}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 15%;
    }
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    border: none;
}

p {
    background-color: #183153;
    color: #FFD401;
    box-shadow: 0.7rem 0.7rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #ffe22ec9;

}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}